@charset "UTF-8";
/* CSS Document */

body {
	text-align:center;
	background-image:url(images/backgroundclouds3.jpg);

}

/*<background: -moz-linear-gradient(top,  rgba(155,155,155,0.09) 0%, rgba(151,151,151,0.09) 26%, rgba(140,140,140,0.5) 100%); 

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(155,155,155,0.09)), color-stop(26%,rgba(151,151,151,0.09)), color-stop(100%,rgba(140,140,140,0.5))); 

background: -webkit-linear-gradient(top,  rgba(155,155,155,0.09) 0%,rgba(151,151,151,0.09) 26%,rgba(140,140,140,0.5) 100%); 

background: -o-linear-gradient(top,  rgba(155,155,155,0.09) 0%,rgba(151,151,151,0.09) 26%,rgba(140,140,140,0.5) 100%); 

background: -ms-linear-gradient(top,  rgba(155,155,155,0.09) 0%,rgba(151,151,151,0.09) 26%,rgba(140,140,140,0.5) 100%); 

background: linear-gradient(to bottom,  rgba(155,155,155,0.09) 0%,rgba(151,151,151,0.09) 26%,rgba(140,140,140,0.5) 100%);   

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#179b9b9b', endColorstr='#808c8c8c',GradientType=0 ); 

OR

background: -moz-linear-gradient(top,  rgba(153,153,153,0) 0%, rgba(131,137,148,0) 21%, rgba(82,101,137,0.26) 67%, rgba(50,78,130,0.79) 97%, rgba(47,76,129,0.92) 100%); 

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(153,153,153,0)), color-stop(21%,rgba(131,137,148,0)), color-stop(67%,rgba(82,101,137,0.26)), color-stop(97%,rgba(50,78,130,0.79)), color-stop(100%,rgba(47,76,129,0.92))); 

background: -webkit-linear-gradient(top,  rgba(153,153,153,0) 0%,rgba(131,137,148,0) 21%,rgba(82,101,137,0.26) 67%,rgba(50,78,130,0.79) 97%,rgba(47,76,129,0.92) 100%); 

background: -o-linear-gradient(top,  rgba(153,153,153,0) 0%,rgba(131,137,148,0) 21%,rgba(82,101,137,0.26) 67%,rgba(50,78,130,0.79) 97%,rgba(47,76,129,0.92) 100%); 

background: -ms-linear-gradient(top,  rgba(153,153,153,0) 0%,rgba(131,137,148,0) 21%,rgba(82,101,137,0.26) 67%,rgba(50,78,130,0.79) 97%,rgba(47,76,129,0.92) 100%); 

background: linear-gradient(to bottom,  rgba(153,153,153,0) 0%,rgba(131,137,148,0) 21%,rgba(82,101,137,0.26) 67%,rgba(50,78,130,0.79) 97%,rgba(47,76,129,0.92) 100%); 

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00999999', endColorstr='#eb2f4c81',GradientType=0 ); 

*/


#wrapper {
	margin: 0 auto;
	width: 949px; 
	text-align:left;
}

.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	margin:5px;
}

#container {
    width:949px;
    margin:0 auto;
    overflow: hidden;
	border:2px solid rgba(47,76,129,.5);
	background-color:#EEE;
}

#sidebar {
	float:left;
	width:32%;
	border: rgba(47,76,129,.5) 2px solid;
	background-color:rgb(186,211,242);
	margin-right:15px;	
}
#sidebar2 {
	float:left;
	width:32%;
	border: rgba(47,76,129,.5) 2px solid;
	background-color:rgb(186,211,242);
	margin-right:15px;	
	background: rgb(225,245,254); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(225,245,254,1) 0%, rgba(203,235,255,1) 47%, rgba(197,246,181,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,245,254,1)), color-stop(47%,rgba(203,235,255,1)),
	color-stop(100%,rgba(197,246,181,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(225,245,254,1) 0%,rgba(203,235,255,1) 47%,rgba(197,246,181,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(225,245,254,1) 0%,rgba(203,235,255,1) 47%,rgba(197,246,181,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(225,245,254,1) 0%,rgba(203,235,255,1) 47%,rgba(197,246,181,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(225,245,254,1) 0%,rgba(203,235,255,1) 47%,rgba(197,246,181,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1f5fe', endColorstr='#c5f6b5',GradientType=0 ); /* IE6-9 */


}

#content {
   

}
p {
	font-weight:normal;color:#000000;
	letter-spacing:0pt;
	word-spacing:2pt;
	font-size:13px;
	text-align:left;
	font-family:trebuchet MS, sans-serif;
	line-height:1.5;
	padding:8px;
	
}
table {
	font-weight:normal;color:#000000;
	letter-spacing:0pt;
	font-size:13px;
	text-align:left;
	font-family:trebuchet MS, sans-serif;
	line-height:1.5;
	border-collapse:collapse;
	margin:5px;

}
tr.border_bottom td {
  border-bottom:1pt solid #EEE;
}
#td_space{	
	padding-right:9px;
}
ul {
	font-weight:normal;color:#000000;
	letter-spacing:0pt;
	word-spacing:2pt;
	font-size:13px;
	text-align:left;
	font-family:trebuchet MS, sans-serif;
	line-height:1.5;
}
h1, h2, h3{
	font-family:Trebuchet MS;
	color:#4C6076;
	font-weight:bold;
	padding:8px;
}
h4{
	font-family:Trebuchet MS;
	color:#4C6076;
	font-weight:bold;
	padding:12px;
	margin:0px;
	padding-bottom:0px;

}
#nav{
	margin:5px;
	margin-left:0;
}